extends index.pug
block content
    .aboutAreas
        #description
            h2= projectTitle
            div
                div.border-top.two-columns-auto.project-items
                    a.prj-img(href='')
                        img(src='img/prj1.jpg', alt='Резюме')
                    div.info-block!= prj1Text
                div.border-top.two-columns-auto.project-items 
                    a.prj-img(href='')
                        img(src='img/prj2.png', alt='Открытки')
                    div.info-block!= prj2Text
                div.border-top.two-columns-auto.project-items
                    a.prj-img(href='')
                        img(src='img/prj3.png', alt='Баннеры')
                    div.info-block!= prj3Text
                div.border-top.two-columns-auto.project-items
                    a.prj-img(href='')
                        img(src='img/prj4.jpg', alt='Лэндинг')
                    div.info-block!= prj4Text
                div.border-top.two-columns-auto.project-items
                    a.prj-img(href='')
                        img(src='img/prj5.png', alt='Взахлеб')
                    div.info-block!= prj5Text
                div.border-top.two-columns-auto.project-items
                    a.prj-img(href='')
                        img(src='img/prj6.jpg', alt='Горький')
                    div.info-block!= prj6Text
                div.border-top.two-columns-auto.project-items
                    a.prj-img(href='')
                        img(src='img/prj7.png', alt='Фестиваль')
                    div.info-block!= prj7Text
                div.border-top.two-columns-auto.project-items
                    a.prj-img(href='')
                        img(src='img/prj8.jpg', alt='Фестиваль')
                    div.info-block!= prj8Text
                    