.nav-area
    a.logo-rsm(href='#')
        img(src='img/logo.png' alt='РСМ логотип')

    a.logo-eyc(href='#')
        img(src='img/logo_eyc.png' alt='EYC логотип')
    nav
        a.link-black-upper(href='#')= navItem1
        a.link-black-upper(href='#')= navItem2
        a.link-black-upper(href='#')= navItem3
        a.link-black-upper(href='#')= navItem4
        a.link-black-upper(href='#')= navItem5
        a.link-black-upper(href='#')= navItem6
    .buttons-nav-area
        button.nav-white-btn.navy-link= buyCard
        button.nav-white-btn.navy-link
            span.sprite-icons.input-btn 
            span= inputBtn